################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SMS/.vs/SMS/v17
/.vs/VSWorkspaceState.json
/SMS/.vs/SMS/FileContentIndex
/SMS/SMS.Server/obj
